
img{
    height: 50px;
    width: 50px;
}

body{
    text-align: center;
    display: grid;
    grid-template: "heade heade"
                    "main main"
                    "foote foote";
    background-color:   #1f1b4e;

}


header{
    grid-area: heade;
    text-align: center;

}

#nav{
    grid-area: nav;
    text-align: center;

}

main{
    grid-area: main;
    text-align: center;
    color: #ecf0f1;
}


footer{
    grid-area: foote;
    text-align: center;
    bottom: 0;
    width: 100%;
    position: fixed;

}
.cards{
    margin: 27px auto 0;
    position: relative;
    width: 450px;
    height: 500px;
    background-color: #34495e;
    color: #ecf0f1;
    border-radius: 8px;
    text-align: center;

}
.card-img{
    position: relative;
    width: 200px;
    height: 200px;
}